body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.main-app {
    background: url('../public/background.jpg');
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
    height: 100vh;

    .main-menu.ui.menu {
        overflow: auto;
        height: 5em;
        background: rgba(0, 0, 0, 0.5);
        margin-bottom: 0px;
        flex-shrink: 0;

        .ui.image.logo {
            position: fixed;
            bottom: 25px;
            left: 10px;
            max-width: 90vw;
        }

        .menu {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .login-form {
        margin-left: auto;
        margin-right: auto;
        width: 25vw;
        min-width: 363px;
        max-width: 500px;
        display: flex;
        flex-grow: 1;
        align-items: center;

        & > .ui.segment {
            width: 100%;
        }
    }

    .donate-cards {
        .card {
            img {
                min-height: 145px;
            }

        }
    }

    .active-route {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        // align-items: center;
        padding: 2em;
        overflow: auto;
        box-sizing: border-box;
        max-height: calc(100vh - 5em);

        a {
            color: #616811;
            font-weight: bold;
        }

        .booking-form {
            margin-left: auto;
            width: 25vw;
            min-width: 363px;
            max-width: 500px;
        }

        .centered {
            margin: auto;
        }

        .compact {
            max-width: 900px;
        }

        .google-map-wrapper {
            height: 300px;
            width: 100%;

            .marker {
                color: white;
                display: flex;
                font-size: 1.3em;
            }
        }
        .image-preview-group {
             text-align: center;
             img {
                 max-height: 135px;
                 object-fit: cover;
             }
        }
    }
}
.modal.image-modal {
    & > i.close.icon {
        color: white;
    }
    margin: -1rem !important;
    figure {
        img {
            max-height: calc(100vh - 65px);
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        figcaption {
            & > div {
                margin-top: 0.5em;
                position: relative;
                width: 100%;
                .title {
                    font-size: 1.5em;
                    margin-bottom: -1em;
                }
                .counter {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    button.image-navigate {
        overflow: visible;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
        display: block;
        outline: none;
        padding: 0;
        z-index: 6;
        box-shadow: none;
        touch-action: manipulation;
        &::-moz-focus-inner {
            padding: 0;
            border: 0
        }
        position: absolute;
        opacity: 0.6;
        margin: 0;
        top: 50%;
        margin-top: -55px;
        padding: 0;
        width: 90px;
        height: 110px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);

        &:hover,
        &:focus {
            opacity: 1;
        }
        &:before,
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 35px;
            margin-left: 35px;
            border: medium inset transparent;
        }
        &:after {
            border-top-width: 13px;
            border-bottom-width: 13px;
            top:8px;
        }

        &:before {
            border-top-width: 21px;
            border-bottom-width: 21px;
            opacity: 0.7;
        }

        &.left {
            left: 0;
            &:after {
              border-right: 17px solid white;
              margin-left: 31px;
            }
            &:before {
              margin-left: 25px;
            }
        }
        &.right {
            right: 0;
            &:after {
                border-left: 17px solid white;
                margin-left: 39px
            }
        }
    }
}

@media (max-width: 1000px) {
  .booking-form {
      margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .booking-form {
      margin-right: 10vw;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
